<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <h3>Takım anketi için yapmak istediğiniz işlemi seçiniz.</h3>

    <nav role="navigation">
        <ul>
            <li><a th:href="@{/CreateTeamSurvey}">Yeni anket kayıt</a></li>
            <li><a th:href="@{/UpdateTeamSurvey}">Eski anket güncelleme</a></li>
            <li><a th:href="@{/DeleteTeamSurvey}">İstenilen anket kaydını silme</a></li>
            <li><a th:href="@{/allTeamSurveyList}">Güncel anket verilerini listele</a></li>

        </ul>
    </nav>
</form>

</body>
</html>